.logo-languages {
    vertical-align: bottom;
}
.columns:not(:last-child) {
    margin-top: 8rem;
}

.footer {
    padding: 1rem 1.5rem;
    margin-top: 4rem;
}

.checkbox,
.radio {
    margin-right: 0.8rem;
}