a:hover {
    color: #00ff00;
}

div.ib {
    display: inline-block;
}

.nav-link:hover {
    border-bottom: 2px solid #00ff00;
}

.linkpaginaatual {
    color:black;
    border-bottom: 2px solid #00ff00;
}

body{
    background-color:black;
}

.jumbotron {
    background-color: white;
    height: 70px;
    box-sizing: content-box;
    padding-top: 5px;
    padding-bottom: 5px;
}

table {

    color: white;

}

h1 {
    font-size: 42px;
    color: white;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    text-decoration: white;
    text-shadow: 1px 1px 2px #00ff00;
}

.foto-perfil {
    height: 100%;
    width: auto;
    max-width: 100%;
    border-radius: 50%;
}
